body{
    background-color: #fce1e1;
}

.gotosermon{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.5rem;
    margin-top: 5%;
}

.picture{
    margin-top: 5%;
    width: 100%
}

.gotosermon_1{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1rem;
    margin-top: 5%;
}

.bottomnav{
    background-color: #fff;
    height: 100%;
    width: 100%;
}

.home{
    float: left;
    margin:0 auto;
    position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:1000;
    padding-left: 3.5%;
    background-color: #fae8e8;
    visibility: hidden;
}

.bottomimg{
    width: 15%;
    height: 15%;
    margin-left: 3%;
    margin-right: 5%;

}

.microphone_png{
    width: 20%;
    height: 100%;
    margin-right: 3%;   
}

.livestreaming_png{
    width: 23%;
    height: 100%;
    margin-right: 3%;
}

.inf_png{
    width: 13%;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .home{
        visibility: visible;
    }
}